{% extends "base.html" %}
{% block content %}
<section class="bg-white py-16">
  <div class="max-w-4xl mx-auto px-4 text-center">
    <h1 class="text-4xl font-bold text-orange-500 mb-6">О нас</h1>
    <p class="text-lg text-gray-700 leading-relaxed">
      GoDrone — это инновационная система доставки еды с помощью дронов. Мы стремимся делать доставку быстрой, удобной и захватывающей. <br><br>
      Наша цель — соединить современные технологии и качественную еду, доставляя её в кратчайшие сроки прямо с неба. <br><br>
      Присоединяйтесь к нам и закажите свою первую доставку уже сегодня!
    </p>
  </div>
</section>
{% endblock %}
